body {
    text-align: center;
}

div {
    height: 50px;
    width: 50px;
    display: inline-block;
    border: 2px solid black;
}

#container {
    width: 600px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: wrap; */
    align-items: flex-start;
    /* align-content: center; */


}

#box1 {
    background-color: aqua;
    flex-grow: 1;
}

#box2 {
    background-color: pink;
    height: 150px;
    flex-grow: 2    ;
    /* flex-shrink: 2; */
    /* align-self: flex-end; */
}

#box3 {
    background-color: darkkhaki;
    height: 75px;
}

#box4 {
    background-color: indianred;
}

#box5 {
    background-color: slateblue;
}