div{
    background-color: aqua;
    border: 2px solid black;
    display:inline-block;
}  
#Box1{
    
    height: 500px;
    width: 500px;
    background-image: url(cat_image.jpg);
    background-size: cover;

}
#Box2{
    height: 500px;
    width: 500px;
    
}   