div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline;
    
}       
#Box1{
    position: static;
    
    /* DEFAULT POSOTION */

}

#Box2{
    position: relative;
    top: 20px;
    left: 10px;
    z-index: 1;
    /* ELEMENT IS RELATIVE ITSELF */
}
#Box3{
    position: absolute;
    top: 60px;
    left: 20px
    /* POSITION RELATIVE TO ITS CLOSEST POSITIONED ANCESTOR */
}
#Box4{
    position: fixed;
    top: 0px;
    z-index: 3;
    /* POSITION RELATIVE TO BROWSER (REMOVED FROM FLOW) */
} 
